name: olymp_math_app
description: "OlympMath - Learn Mathematics Like the Best. Master olympiad math with interactive theory, solved examples, and challenging problems. Join thousands of students preparing for mathematical competitions."
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
